<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ação - Piraflix</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="nav-left">
            <button class="genre-button">Gêneros</button>
            <ul class="genre-dropdown">
                <li><a href="acao.html">Ação</a></li>
                <li><a href="romance.html">Romance</a></li>
                <li><a href="comedia.html">Comédia</a></li>
                <li><a href="terror.html">Terror</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <input type="text" placeholder="Pesquisar filmes..." class="search-bar">
        </div>
    </header>

    <main>
        <section class="movie-grid">
            <h2>Filmes de Terror</h2>
            <div class="movie-row">
                <div class="movie">
                    <h3>Irmã Morte</h3>
                    <a href="https://t.me/+zSwzyD8eGeFhM2I6"><img src="/templates/images/terror/272c7382-027e-41fd-8773-e6fdcd6a3480.jpg" alt="Irmã Morte"></a>
                    <p></p>
                </div>
                <div class="movie">
                    <h3>A Freira 2</h3>
                    <a href="https://t.me/+7sZjeS1cLNgyOWMy"><img src="/templates/images/terror/3e58fa5d-7550-471e-bfdd-0b587adb0d5d.jpg" alt="A Freira 2"></a>
                    <p></p>
                </div>
                <div class="movie">
                    <h3>Five Nights At Freddy's</h3>
                    <a href="https://t.me/+7sZjeS1cLNgyOWMy"><img src="/templates/images/terror/6624bcd8-60c2-41a1-bdd3-40fc595132d5.jpg" alt="Five Nights At Freddy's"></a>
                    <p> </p>
                </div>
            </div>
            <div class="movie-row">
                <div class="movie">
                    <h3>Knock At The Cabin</h3>
                    <a href="https://t.me/+EYkhP-J0JFUzOWQy"><img src="/templates/images/terror/a0138b6c-0087-463f-835d-4005c7c08831.jpg" alt="Knock At The Cabin"></a>
                    <p></p>
                </div>
                <div class="movie">
                    <h3>Feriado Sangrento</h3>
                    <a href="https://t.me/+7sZjeS1cLNgyOWMy"><img src="/templates/images/terror/afd8d61c-6ee6-4e88-acff-5f17cf51f9f1.jpg" alt="Feriado Sangrento"></a>
                    <p></p>
                </div>
                <div class="movie">
                    <h3>Possessões</h3>
                    <a href="https://t.me/+HkEPJ1xCIpQ4MWZi"><img src="/templates/images/terror/c97d999a-f967-4a7c-be9c-afe1b7cd9286.jpg" alt="Possessões"></a>
                    <p></p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>Piraflix © 2024</p>
    </footer>
</body>
</html>