<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piraflix</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="register.html">Cadastre-se</a></li>
                <li><a href="login.html">Entrar</a></li>
                <li><a href="subscription.html">Assinatura</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="welcome-section">
            <h1>Bem-vindo ao Piraflix</h1>
            <img src="" alt="Logotipo do Piraflix" class="logo">
            <p>Assista às melhores séries e filmes onde e quando quiser. Aproveite nossos planos de assinatura e tenha acesso a um catálogo incrível!</p>
            <div class="buttons">
                <a href="register.html" class="btn">Criar conta</a>
                <a href="login.html" class="btn">Já tenho conta</a>
                <a href="genres.html" class="btn">Explorar Gêneros</a> <!-- Botão de gêneros adicionado -->
            </div>
        </section>
    </main>
    
    <footer>
        <p>© 2024 Piraflix. Todos os direitos reservados.</p>
    </footer>
</body>
</html>